*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
h1 {
  padding-top:30px;
  margin-left:40px;
}

p {
  margin:40px 80px;
}

table {
  margin-left: 30px;
}

th{
  padding:10px;
}

td{
  padding:0 10px;
}


.box {
  margin-left:40px;
}

.buttom {
  margin-left:20px;
}

.box-edit {
  margin-top: 10px;
}